In [2]:
import pandas as pd
import numpy as np
pd.__version__

'2.1.4'

In [4]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('car_fuel_efficiency.csv')
len(df)

9704

In [6]:
df.head(1)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729

In [7]:
df['fuel_type'].value_counts(dropna=False)

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [8]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [14]:
df[df['origin']=='Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

In [10]:
df['horsepower'].median()

149.0

In [12]:
df['horsepower'].fillna(149).median()

149.0

In [13]:
df['origin'].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [15]:
X = df[df['origin']=='Asia'][['vehicle_weight','model_year']].head(7).to_numpy()

In [16]:
XTX = X.T @ X

In [20]:
XTX_inv = np.linalg.inv(XTX)

In [18]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [21]:
w = XTX_inv @ X.T @ y

In [22]:
result = w.sum()

In [23]:
result

0.5187709081074026